<div class="fos_user_user_show">
    <p><span class="span2">{{ 'profile.show.name'|trans({}) }}:</span> {{ user.name }}</p>
    <p><span class="span2">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</span> {{ user.username }}</p>
    <p><span class="span2">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</span> {{ user.email }}</p>

    <p><span class="span2">{{ 'profile.show.companyName'|trans({}, 'FOSUserBundle') }}:</span> {{ user.companyName }}</p>
    <p><span class="span2">{{ 'profile.show.companyBio'|trans({}, 'FOSUserBundle') }}:</span> {{ user.companyBio }}</p>

    <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Edit</a>
</div>
