<table class="table table-hover">
    <thead>
    <tr>
        <th class="span6 text-left">Title</th>
        <th class="span2 text-left">Location</th>
        <th class="span2 text-left">Date Posted</th>
        <th class="span2 text-left">Archive</th>
        <th class="span2 text-left">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('job_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.location }}</td>
            <td>{{ entity.created|date('Y-m-d')}}</td>
            <td>{% if not entity.archived %}<a href="{{ path('admin_archive_job', {'id': entity.id}) }}">Archive</a>{% endif %}</td>
            <td><a href="">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>