{% extends '::base.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'bundles/amsterdamphpjob/css/rateit.css'
    output = '/css/rateit.css'
    filter = 'cssrewrite'
    debug=false
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


{% endblock %}

{% block body -%}
<div class="row-fluid">
    <section id="details" class="span8 pull-left" xmlns="http://www.w3.org/1999/html">
        <div class="pull-right">
            <a class="btn  btn-primary contact-recruiter" href="mailto:{{ entity.user.email }}?subject={{entity.title}}">
                <i class="icon-comment icon-large"></i> Contact poster
            </a>
        </div>

        <h2>{{ entity.title }}</h2>
        <h4>
            {{ entity.location }} <small>{{ entity.created|date('d-m-Y') }}</small>
            <input type="range" min="0" max="5" value="{{ entity.calculatedRating }}" step="1" id="jobRating">
            <div id="jobRatingWrapper" class="rateit" data-rateit-backingfld="#jobRating"
                 data-rateit-resetable="false" data-jobid="{{ entity.id }}" data-rateit-readonly="{{ ratedJob }}" ></div>
        </h4>

        <div class="details">{{ entity.description | nl2br}}</div>

        <div class="pull-right">
            <a class="btn  btn-primary contact-recruiter" href="mailto:{{ entity.user.email }}?subject={{entity.title}}">
                <i class="icon-comment icon-large"></i> Contact poster
            </a>
            <p class="text-right">
                <small><a href="{{ path('job_handle_report', { 'id': entity.id }) }}"><i class="icon-warning-sign"></i> Report abuse</a></small>
            </p>
        </div>
    </section>

    <section id="poster" class="span4 pull-right">
        {% if is_granted('OWNER', entity) or is_granted('ROLE_ADMIN') %}
            <div class="owner actions">
                <a class="btn " href="{{ path('job_edit', {'id':entity.id}) }}"> <i class="icon-edit icon-large"></i> Edit</a>
                <form method="post" action="{{ path('job_delete', {'id':entity.id}) }}" class="">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash icon-large"></i> Delete</button>
                </form>
            </div>
        {% endif %}

        <h2>Poster Info</h2>
        <div class="vcard">
            {% if entity.user.companyLogo %}
                <a href="{{ entity.user.companyUrl }}">
                    <img class="photo" src="{{ entity.user.companyLogo }}" />
                </a>
            {% else %}
                <img class="photo" src="{{ gravatar(entity.user.email) }}" />
            {% endif %}

            <ul>
                <li class="company">Company name: <strong>{{ entity.user.companyName }}</strong></li>
                <li class="name">Contact name: {{ entity.user.name }}</li>
            </ul>
        </div>

        <div>
            {{ entity.user.companyBio }}
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    {% javascripts
    '@AmsterdamPHPJobBundle/Resources/public/js/jquery.cookie.js'
    '@AmsterdamPHPJobBundle/Resources/public/js/jquery.rateit.js'
    '@AmsterdamPHPJobBundle/Resources/public/js/jobs.js'
    output = '/js/show.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var jobRating = new JobRating();
        jobRating.init();
    </script>
{% endblock %}
