{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if app.request.attributes.get('_route') != 'login' %}
        <div class="alert alert-info">
            <p><b>Authentication required!</b>  Please login to have access to this area, or register <a href="{{ path('fos_user_registration_register') }}">here</a></p>
        </div>
    {% endif %}

    <form class="login" action="{{ path("fos_user_security_check") }}" method="post">
        <fieldset>
            <legend>Login</legend>
            {% if error %}
                <p class="text-error"><span class="label label-important">Error:</span> {{ error|trans({}, 'FOSUserBundle') }}</p>
            {% endif %}
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" />


            <label for="remember_me"> <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        </fieldset>


        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
{% endblock fos_user_content %}
